body {
  margin: 0;
  background-image: url("./assets/grunge-vintage-old-paper-background.jpg");
  background-size: cover;
  font-family: Arial, sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/*login*/

/* Login Wrapper */
.login-wrapper {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

/* Lado Esquerdo da Tela (Animação) */
.animation-container {
  flex: 1; /* Garante que a animação ocupe 50% da largura */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0; 
  margin: 0; 
  background-color: transparent;
  height: 100vh; 
  padding-left: 100px;
}


.login-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}


.logo-container {
  width: 100%;
  text-align: center;
}


/* Card de Login */
.card-login {
  width: 60%; 
  max-width: 400px;
  height: auto;
  padding: 30px 35px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  } 
  


/* Título do Card */
.card-login h1 {
  color: #9f1d14; 
  font-weight: 800;
  margin: 0;
  margin-bottom: 20px;
}

.form-group {
  width: 100%;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form-group label {
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group input,
.form-group select {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  background-color: white;
}

.form-group select {
  background-color: white;
}

/* Botão de Login */
.btn-login {
  width: 100%;
  background-color: #9f1d14;
  color: white;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  padding: 16px 0;
  margin-top: 20px;
  margin-bottom: 20px;
}

.btn-login:hover {
  background-color: #9f1d14;
}

/* Mensagem de Erro */
.error-message {
  color: #9f1d14;
  font-size: 14px;
  margin-top: 10px;
}

/* Links */
.reference-login {
  text-align: center;
  margin-top: 20px;
}

.reference-login a {
  color: #0366d6;
  text-decoration: none;
}

.reference-login a:hover {
  text-decoration: underline;
}





/*SignIn*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Wrapper principal */
/* Página inteira dividida ao meio */
.signin-wrapper {
  display: flex;
  height: 100vh; /* Altura total da tela */
  justify-content: center;
  align-items: stretch;
}

/* Lado Esquerdo (Animação) */
.animation-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  padding-left: 70px;
}


/* Lado Direito (Card de Login) */
.signin-container {
  flex: 1; 
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

/* Card de Login */
.card-signin {
  width: 60%; 
  max-width: 400px;
  height: auto;
  padding: 30px 35px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  }


/* Título do Card */
.card-signin h1 {
  color: #9f1d14; /* Cor do título */
  font-weight: 800;
  margin: 0;
  margin-bottom: 20px;
  text-align: center;
}

/* Formulário */
.form-group {
  width: 100%;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form-group label {
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group input,
.form-group select {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  background-color: #ffffff;
}

.form-group select {
  background-color: white;
}

/* Botão de Cadastro */
.signin-button {
  width: 100%;
  background-color: #9f1d14;
  color: white;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  padding: 16px 0;
  margin-top: 20px;
}

.signin-button:hover {
  background-color: #b22018;
}

/* Mensagens de Erro */
.error {
  color: #9f1d14;
  font-size: 14px;
  margin-top: 10px;
}

/* Links */
.login-link {
  text-align: center;
  margin-top: 20px;
}

.login-link a {
  color: #0366d6;
  text-decoration: none;
}

.login-link a:hover {
  text-decoration: underline;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#HostOrPlayer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  cursor: default;
}

.main_choice_appearance {
  text-align: center;
}

.title_for_choice span {
  font-family: "DragonHunter", sans-serif;
  color: darkred;
  font-size: 3rem;
  margin: 0;
  cursor: default; /* Prevents text-selection cursor */
  user-select: none; /* Prevents text selection */
  display: inline-block; /* Allows the span to behave more like a block element */
  padding: 20px; /* Adds padding around the text */
  transform: scale(1.2); /* Scales the entire span element */
}

.choices_available {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem;
  cursor: default;
  user-select: none;
}
.choice_title {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("./assets/Sally-forth______.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  height: 210px;
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}
.choice_title_player {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("./assets/player_img.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  height: 210px;
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}

.card_host,
.card_player {
  margin: 1rem;
  padding: 1.5rem;
  border-radius: 10px;
  width: 300px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 7%), 0 4px 4px -2px rgba(0, 0, 0, 0.1) !important;
  border-bottom-width: 2px;
  margin: 30px 30px 50px;
  cursor: pointer;
}
.card_host h2,
.card_player h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: black;
}

.card_host p,
.card_player p {
  margin: 20px;
  font-size: 14px;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
}

.left_choice,
.right_choice {
  text-align: center;
}
@font-face {
  font-family: "DragonHunter";
  src: url("./assets/DragonHunter.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

#CreateCharacter {
  padding: 20px;
  flex-direction: column;
  max-width: 100%;
  max-height: 100vh;
  overflow-y: auto;
  box-sizing: border-box;
}

.player_character_title {
  text-align: center;
  margin-bottom: 1.5rem;
}
.player_character_title span {
  font-family: "DragonHunter", sans-serif;
  color: darkred;
  font-size: 2.5rem;
  justify-content: center;
  cursor: default;
  display: inline-block;
  padding: 15px;
  transform: scale(1.2);
  margin: 0 auto;
}
/* Align `all_details` in a row */
.all_details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 100px; /* Add spacing between sections */
  width: 90%;
  margin-left: 5%;
}

.character_abilities {
  flex: 1;
}

.character_abilities .form-group {
  display: grid;
  grid-template-rows: repeat(3, auto);
  grid-auto-flow: column;
  gap: 20px;
}

.ability-group {
  display: flex;
  flex-direction: column;
}

.ability-group label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.ability-group input {
  max-width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-group {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
  display: flex;
}

input,
select {
  max-width: 400px;
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  align-items: first baseline;
}

button.submit-btn {
  padding: 0.75rem 1.5rem;
  background-color: darkred;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button.submit-btn:hover {
  background-color: red;
}
.character_background {
  margin-left: 5%;
  margin-right: 12%;
}

.character_background textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}
.ending_character_button {
  background-color: #9f1d14;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 30px;
}

.ending_character_button:hover {
  background-color: #8b0000;
}

/*Lobby*/

#LobbyPage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, sans-serif;
  background-image: url("./assets/grunge-vintage-old-paper-background.jpg");
}

.lobby-container {
  width: 80%;
  height: 50%;
}

.lobby-title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #9f1d14;
  font-family: "DragonHunter", sans-serif;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 30px;
}

.main_choice_appearance {
  width: 90%;
  max-width: 800px;
  padding: 50px;
  border-radius: 10px;
  text-align: center;

  color: white;
  position: relative;
}
.card_player,
.card_host p {
  color: black;
}

.title_for_choice span {
  font-family: "DragonHunter", sans-serif;
  color: #9f1d14;
  font-size: 3rem;
  margin-bottom: 30px;
}

.main_choice_appearance::before {
  top: -15px;
  left: -15px;
}

.main_choice_appearance::after {
  top: -15px;
  right: -15px;
}

.main_choice_appearance .bottom-left-nail {
  bottom: -15px;
  left: -15px;
}

.main_choice_appearance .bottom-right-nail {
  bottom: -15px;
  right: -15px;
}

.game-code-section {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 30px;
}

.game-code-label {
  font-size: 1.5rem;
  color: #9f1d14;
  font-family: Arial, sans-serif;
}

.game-code {
  font-size: 2rem;
  font-weight: bold;
  margin: 20px 0;
  text-align: center;
}



.player-slots {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  margin-bottom: 30px;
}

.player-slot {
  background: #201b2c;
  padding: 20px;
  border-radius: 5px;
  color: white;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.player-slot.filled {
  background: #9f1d14;
}

.character-select-btn{
  padding: 15px 25px;
  font-size: 1.5rem;
  color: white;
  background-color: #9f1d14;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.start-game-btn {
  padding: 15px 25px;
  font-size: 1.5rem;
  color: white;
  background-color: #9f1d14;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.start-game-btn:hover {
  background-color: #8b0000;
}

/* Container geral do modal */
.character-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 20px;
  width: 90%;
  max-width: 600px;
  z-index: 1000;
  text-align: center;
  font-family: Arial, sans-serif;
}

/* Título do modal */
.character-modal h2 {
  font-size: 1.5rem;
  color: #9f1d14;
  margin-bottom: 20px;
}

/* Lista de personagens */
.character-list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}

/* Item de personagem */
.character-item {
  background-color: #f9f9f9;
  border: 2px solid transparent;
  border-radius: 10px;
  padding: 10px;
  width: 120px;
  text-align: center;
  cursor: pointer;
  transition: border-color 0.3s ease, transform 0.2s ease, background-color 0.3s ease;
}

/* Imagem do personagem */
.character-item img {
  width: 100%;
  height: auto;
  border-radius: 6px;
  margin-bottom: 10px;
}

/* Nome do personagem */
.character-item h4 {
  font-size: 0.9rem;
  margin: 0;
}

/* Efeito visual quando o personagem é selecionado */
.character-item.selected {
  border: 2px solid #9f1d14;  
  transform: scale(1.05); 
  transition: transform 0.2s, background-color 0.2s ease, border-color 0.3s ease;
}

/* Efeito de hover para os itens de personagem */
.character-item:hover {
  border: 2px solid #000;  
  transform: scale(1.20); 
  transition: transform 0.2s, background-color 0.3s ease, border-color 0.3s ease;
}


/* Botão de confirmação */
.character-modal button {
  margin-top: 20px;
  background-color: #9f1d14;
  color: #fff;
  border: none;
  border-radius: 6px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.character-modal button:hover {
  background-color: #b30000;
}

/* Responsividade */
@media (max-width: 480px) {
  .character-item {
    width: 100px;
  }
}


/* header */

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  padding: 10px 20px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile-pic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #ccc;
  transition: transform 0.2s;
}

.logo-img {
  width: 250px;
  height: 90px;
  object-fit: contain;
}

/*Game Chat*/
:root {
  --text-color: #000000;
  --input-color: #ffffff;
  --icon-color: #acacbe;
  --icon-hover-bg: #5b5e71;
  --placeholder-color: #000000;
  --outgoing-chat-bg: #343541;
  --incoming-chat-bg: #444654;
  --outgoing-chat-border: #343541;
  --incoming-chat-border: #444654;
}

.layout {
  display: flex;
  flex-direction: row;
  height: 100vh;
  overflow: hidden;
}

.main-content {
  flex: 3;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.players_display {
  flex: 1;
  max-width: 300px; /* Adjust width as needed */
  
}

.chat-container {
  flex: 1;
  overflow-y: auto;
  padding-bottom: 10px; /* Space to avoid overlap with the fixed typing-container */
}
:where(.chat-container, textarea)::-webkit-scrollbar {
  width: 6px;
}
:where(.chat-container, textarea)::-webkit-scrollbar-track {
  background-color: var(--incoming-chat-bg);
  border-radius: 25px;
}
:where(.chat-container, textarea)::-webkit-scrollbar-thumb {
  background: var(--icon-color);
  border-radius: 25px;
}
.chat-container .chat {
  padding: 25px 10px;
  display: flex;
  justify-content: center;
  color: var(--text-color);
}

.chat .chat-content {
  display: flex;
  align-items: flex-start;
  max-width: 1200px;
  width: 100%;
  justify-content: space-between;
}
.chat .chat-content .span {
  font-size: 1.3rem;
  color: var(--icon-color);
  visibility: hidden;
}
.chat:hover .chat-content .span {
  visibility: visible;
}

.chat .chat-details {
  display: flex;
  align-items: center;
}
.chat .chat-details .img {
  width: 35px;
  height: 35px;
  align-self: flex-start;
  object-fit: cover;
  border-radius: 2px;
}
.chat .chat-details p {
  white-space: pre-wrap;
  font-size: 1.05rem;
  padding: 0 50px 0 25px;
}
span.material-symbols-rounded {
  user-select: none;
  cursor: pointer;
}

.typing-animation {
  display: inline-flex;
  padding-left: 25px;
}
.typing-animation .typing-dot {
  height: 7px;
  width: 7px;
  opacity: 0.7;
  margin: 0 3px;
  border-radius: 50%;
  background: var(--text-color);
  animation: animateDots 1.5s var(--delay) ease-in-out infinite;
}

@keyframes animateDots {
  0%,
  44% {
    transform: translateY(0px);
  }
  22% {
    opacity: 0.2;
    transform: translateY(-6px);
  }
  44% {
    opacity: 0.2;
  }
}


/*Typing Container Styling*/

.typing-container {
  position: fixed;
  bottom: 0;
  left: 300px; /* Adjust to align with the players_display width */
  right: 0;
  padding: 20px 10px;
  display: flex;
  justify-content: center;
  z-index: 10; /* Ensure it stays above the chat-container */
}



.typing-container .typing-content {
  max-width: 950px;
  width: 100%;
  display: flex;
  align-items: flex-end;
}
.typing-content .typing-textarea {
  width: 100%;
  display: flex;
  position: relative;
}
.typing-textarea textarea {
  width: 100%;
  height: 55px;
  border: none;
  resize: none;
  font-size: 1rem;
  padding: 15px 45px 15px 20px;
  border-radius: 4px;
  color: var(--text-color);
  background: var(--input-color);
  outline: 1px solid var(--incoming-chat-border);
}
.typing-textarea textarea::placeholder {
  color: var(--placeholder-color);
}
.typing-textarea textarea:valid ~ span {
  visibility: visible;
}
.typing-textarea span {
  position: absolute;
  right: 0;
  bottom: 0;
  visibility: hidden;
}
.typing-content span {
  height: 55px;
  width: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--icon-color);
}
.typing-controls {
  display: flex;
}
.typing-controls span {
  margin-left: 7px;
  font-size: 1.4rem;
  border-radius: 4px;
  background: var(--incoming-chat-bg);
  border: 1px solid var(--incoming-chat-border);
}

/*Host or Player PopUp*/

.code_input_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.code_input_window {
  background: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.code_input_window input {
  margin: 10px 0;
  padding: 8px;
  width: 80%;
}


/* Loading/Error message styling */
.loading,
.error {
  font-size: 1.2rem;
  margin-top: 20px;
  font-style: italic;
  color: #d9534f; /* Red for errors or warnings */
  text-shadow: 1px 1px 3px #000;
}

/* Add some flair to the error */
.error {
  font-weight: bold;
  text-decoration: underline;
}

/*Profile*/
/* Button-like decorative flair for page details */
.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; 
  padding: 20px;
}

/* Card styling */
.profile-card {
  max-width: 600px;
  width: 100%;
  background-color: #f4f4f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-bottom: 30px; 
}


.dnd-title {
  font-family: 'DragonHunter', sans-serif;
  font-size: 2.5rem;
  color: #a52a2a;
  margin-bottom: 20px;
}

.decorative-flair {
  background-color: #a52a2a;
  color: #fff5e6;
  padding: 8px 15px;
  border-radius: 5px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  margin: 20px 0;
}


.profile-info p {
  font-size: 1.1rem;
  margin: 8px 0;
}

.info-label {
  font-weight: bold;
  color: #a52a2a;
}


.no-quests-message {
  margin-top: 20px;
  font-size: 1.2rem;
  color: #555;
  font-style: italic;
  background-color: #f9f9f9;
  padding: 10px 15px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

/* Buttons container outside the card */
.buttons-container {
  display: flex;
  justify-content: center;
  gap: 20px; /* Space between buttons */
}

/* Individual button styling */
.play-button, .character-button, .logout-button {
  padding: 12px 30px;
  font-size: 1rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.play-button {
  background-color: #9f1d14;
  color: white;
}

.play-button:hover {
  background-color: #8b0000;
}

.character-button {
  background-color: #2d2d2d;
  color: white;
}

.character-button:hover {
  background-color: #8b0000;
}

.logout-button{
  color: white;
  background-color: #9f1d14;
 
}

.logout-button:hover{
  background-color: #8b0000;
}


.container {
  overflow: hidden;
  margin-bottom: 20px;
  margin-right: 60px;
  margin-left: 60px;
  margin-top: 20px;
  cursor: default;
}

.slider-inner {
  height: 100%;
  overflow-y: scroll;
  margin: auto;
}

.carousel {
  display: flex;
  flex-direction: column;
}
.card_character {
  border-radius: 20px;
  box-shadow: 0px 10px 40px #00000056;
  background-image: linear-gradient(
      rgba(181, 163, 163, 0.6),
      rgba(104, 91, 91, 0.6)
    ),
    url("./assets/wooden_background.jpeg");
  background-size: cover;
  background-position: center;
  flex-direction: column;
}

.card_character .main_display {
  color: white;
  flex-direction: row;
  display: flex;
  padding: 30px 35px;
  border-radius: 20px;
}

.card_character .character-info {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 10px;
}

.character_content .character_background {
  margin-bottom: auto;

  margin-left: 10px;
  margin-right: 10px;
  gap: 10px;
  color: white;
  font-size: smaller;
  text-align: justify;
}

.user_info .character_picture {
  width: 50px;
  height: 50px;

  margin-right: 10px;
}
.title_characters {
  text-align: center;
  margin-bottom: 1.5rem;
}
.title_characters span {
  font-family: "DragonHunter", sans-serif;
  color: darkred;
  font-size: 2.5rem;
  justify-content: center;
  cursor: default;
  display: inline-block;
  padding: 15px;
  transform: scale(1.2);
  margin: 0 auto;
}
.card_character .collapsible {
  cursor: pointer;
  color: white;
  padding: 10px;
  width: 100%;
  border: none;
  background: transparent;
  text-align: center;
  outline: none;
  font-size: 15px;
}
.collapsible_content {
  padding: 0 18px;

  background-image: linear-gradient(
      rgba(181, 163, 163, 0.6),
      rgba(104, 91, 91, 0.6)
    ),
    url("./assets/wooden_background.jpeg");
  max-height: 0;
  overflow: hidden;
  display: flex;
  transition: max-height 0.2s;
  justify-content: center;
  align-items: center;
  height: 100%;
  overflow: hidden;
  background-size: cover;
  background-position: center;
}
.stats-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem 10rem;
  padding: 1rem;
}
.stat {
  color: white;
  border-radius: 0.5rem;
  padding: 0.8rem;
  text-align: center;
  font-weight: bold;
  font-size: 1rem;
}



.side_nav {
  width: 250px;
  height: 100%;
  background-color: rgb(81, 5, 5);
  padding: 20px 10px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.side_nav span {
  color: white;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px; /* Space below the title */
}

.players_icons {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  margin-top: 20px; 
  overflow-y: auto; 
  max-height: calc(
    100vh - 60px
  ); 
}

.players_icons img {
  border-radius: 50%; 
  margin-bottom: 10px; 
}

.create-character-button {
  position: absolute;
  top: 20px;
  right: 20px;
  background: #9f1d14;
  color: #fff;
  font-size: 1rem;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.create-character-button:hover {
  background: #8b0000;
}

.profile-button{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #ccc;
  transition: transform 0.2s;
}

/*SetUsername*/

/* Ensure the custom font is applied globally or specifically to the component */

.setusername-wrapper {
  /* Dark background for a fantasy vibe */
  color: #f5e6d7; /* Soft parchment-like text color */
  font-family: "DragonHunter", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
}

.setusername-container {
  background-color: #2c2c2c; /* Slightly lighter than the background */
  border: 3px solid #a0522d; /* Bronze/golden borders */
  border-radius: 10px;
  padding: 30px;
  max-width: 400px;
  width: 100%;
  box-shadow: 0px 0px 15px 5px #a0522d; /* Fantasy glowing effect */
  text-align: center;
}

.setusername-container h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #ffcc66; /* Warm, golden title */
}

.setusername-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.setusername-form .form-group {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.setusername-form label {
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: #e0b084;
}

.setusername-form input {
  padding: 10px;
  font-size: 1rem;
  border: 2px solid #a0522d;
  border-radius: 5px;
  background-color: #1a1a1a;
  color: #f5e6d7;
}

.setusername-form input:focus {
  outline: none;
  border-color: #ffcc66;
  box-shadow: 0 0 5px #ffcc66;
}

.setusername-button {
  padding: 12px;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  background-color: #ff6600;
  color: #1a1a1a;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.setusername-button:hover {
  background-color: #e65c00;
}

.setusername-button:disabled {
  background-color: #7f7f7f;
  cursor: not-allowed;
}

.setusername-error {
  margin-top: 15px;
  color: #ff4d4d; /* Error messages in red */
  font-size: 0.9rem;
  font-style: italic;
}